<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        Name:{{name}}---Age:{{age}}---Profession:<label [ngStyle]="profstyle()" >{{prof}}</label>
                          <hr>
    </div>
</body>
</html>








<!--[style.color]="age>24?'green':'blue'" 
    [style.color]="prof=='Cleark'?'red':'blue'" -->













<!-- [class.dangerzone]="age>24" [class.engineers]="prof=='Engineer'" -->