<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div [style]="main" [style.Display]="Average>40?'block':'none'">
        <div> <img src={{img}} alt="" [style]="box_style"></div>
            <h3>{{name}}</h3>
            <h4>Total Mark : {{total}}</h4>
            <h4 >Average Mark : <label [style.color]="Average<40?'red':'green'">{{Average}}</label></h4>
    </div>
</body>
</html>






























